/** Table of Content
 * -----------------------------
 * 1.0 Reset
 * 2.0 Variables
 *
 * 3.0 Mixins
 * 3.1 transition
 * 3.3 Theme
 *
 * 4.0 Dark Theme
 * 5.0 Light Theme
 * --------------------------- */
/* Variables
 * ---------------------------------------------------------------------------------------------- */
/* End Variables ------------------------------------------------------------------------------- */
/* Reset
 * ---------------------------------------------------------------------------------------------- */
* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

ul, li, a, button {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 4vh;
  padding: 0;
  color: #F8FAFC;
  background-color: #020617;
}
header .content-header {
  width: 100%;
}
header .content-header a {
  height: 6vh;
}
header .content-header img.logo {
  height: inherit;
  padding: 0;
  object-fit: contain;
}
header #theme-icon {
  height: 28px;
  width: 28px;
}
header #theme-icon:hover {
  cursor: pointer;
}
header button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #020617;
  border-radius: 0.5rem;
  cursor: pointer;
}
header button:hover {
  color: #020617;
  background-color: #F8FAFC;
}

.container {
  padding: 0 1rem 0 1rem;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-light {
  color: #F8FAFC;
}

/* End Reset ----------------------------------------------------------------------------------- */
/* Mixins
 * ---------------------------------------------------------------------------------------------- */
.nav-links {
  color: inherit;
}

/* End Mixins ---------------------------------------------------------------------------------- */
/* Dark Theme
 * ---------------------------------------------------------------------------------------------- */
[data-theme=dark] body {
  height: 100vh;
  width: 100vw;
  color: #F8FAFC;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to bottom, #000, #020617);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
[data-theme=dark] body .border-square,
[data-theme=dark] body .hero-button,
[data-theme=dark] body .avatar {
  border-color: #020617;
  color: #020617;
}
[data-theme=dark] body button {
  color: #F8FAFC;
  border: 1px solid #F8FAFC;
  background-color: #000;
}
[data-theme=dark] body button:hover {
  color: #000;
  background-color: #F8FAFC;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
[data-theme=dark] body image {
  height: auto;
  width: 4rem;
}

/* End Dark Theme ------------------------------------------------------------------------------ */
/* Light Theme
 * ---------------------------------------------------------------------------------------------- */
[data-theme=light] body {
  height: 100vh;
  width: 100vw;
  color: #020617;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to bottom, #F8FAFC, #FFF);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
[data-theme=light] body .border-square,
[data-theme=light] body .hero-button,
[data-theme=light] body .avatar {
  border-color: #F8FAFC;
  color: #F8FAFC;
}
[data-theme=light] body button {
  color: #020617;
  border: 1px solid #020617;
  background-color: #F8FAFC;
}
[data-theme=light] body button:hover {
  color: #F8FAFC;
  background-color: #020617;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
[data-theme=light] body image {
  height: auto;
  width: 4rem;
}

/* End Light Theme ----------------------------------------------------------------------------- */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-media li {
  padding: 4px;
}

.nav-links {
  list-style-type: none;
}
.nav-links .social-media > li {
  padding: 4px;
}
.nav-links a {
  color: #F8FAFC;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-links a:hover {
  color: #4267B2;
}

a.whatsapp-btn {
  z-index: 1070;
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 16px;
  right: 16px;
  border-radius: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 54px;
  font-size: 40px;
  box-shadow: 1px 1px 2px #6b7280;
  background-color: #25D366;
}
a.whatsapp-btn:hover {
  scale: 1.1;
  box-shadow: 1px 1px 3px #9ca3af;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu {
  display: none;
}
.menu .menu-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.menu .menu-list li {
  display: inline-block;
  margin-right: 10px;
}
.menu .menu-list li a {
  text-decoration: none;
  color: black;
}
.menu .menu {
  display: block;
}
.menu .abc-menu {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: #F8FAFC;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #020617;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content > a {
  color: #F8FAFC;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content > a:hover {
  background-color: #333333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}

/*# sourceMappingURL=main.css.map */
